@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 248 192 199; /* #171717 */
        --color-bg-main: 1 45 35; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }

    .button {
        background: #f8c0c7 !important;
        color: #012d23 !important;
    }

    .header {
        margin: 0 auto 300px auto;
    }

    .header__logo {
        width: 30%;
    }

    .header__stars {
        position: absolute;
        right: -75px;
        top: 100px;
        transition: all 1s ease-in;
    }

    .header__stars:hover {
        transform: rotate(360deg);
        transition: all 0.5s ease-in;
    }

    .subtitle {
        color: #fff;
    }

    .footer__logo {
        width: 20%;
    }

    .footer__coffee {
        width: 10%;
    }

    .footer__border {
        border-color: #f8c0c7;
    }

    @media (max-width: 1200px) {
        .header__stars {
            width: 10%;
            right: 102px;
            top: 10px;
        }
    }

    @media (min-width: 768px) {
        .main-landing {
            position: relative;
            top: -10rem;
        }
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
        }
    }
}
