@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 248 192 199; /* #171717 */
        --color-bg-main: 1 45 35; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }

    .button {
        background: #828429 !important;
        color: #f5f6d4 !important;
        border-color: #f5f6d4;
    }

    @media (min-width: 768px) {
        .main-landing {
            position: relative;
            top: -10rem;
        }
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
        }
    }
}
