---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    <a href="/">
        <img src={siteConfig?.logo?.src} alt={siteConfig?.logo?.alt || ''} class="max-h-32 m-auto" />
    </a>
</header>
